# Django
DJANGO_SECRET_KEY=mn@h&ms_wtt)4anl%+r6@2k=t!nwbyh1cns7xz7tj4xodnn@w_
DEBUG=True

# Database
DB_NAME=smartpos
DB_USER=smartpos_user
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=3306

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Email (example using Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=georgezjojo04@gmail.com
EMAIL_HOST_PASSWORD=ribs suot utwy bdvz
DEFAULT_FROM_EMAIL=SmartPOS <noreply@smartpos.com>
DEVELOPER_EMAIL=georgezjojo04@gmail.com

# Africa's Talking (SMS)
AT_USERNAME=sandbox
AT_API_KEY=your-api-key
AT_SHORTCODE=your-shortcode